/* custom css goes here */



.outline {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  h1 {
    text-decoration: underline;
    text-decoration-color: green;
  }

  .projects img {
    width: 200px;
    height: 200px;
  }