/* custom css goes here */



.outline {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .projects img {
    width: 200px;
    height: 200px;
  }

.logo {
  width: 80px; 
  padding: .5rem;
}
